@import './variable';

$tabHeight:40px;
$BorderColor:rgba($color:#fff,$alpha:0.1);
.tabBar-ul {
    height: $tabHeight;
    display: flex;
    // transform: translateX(-200px);
    margin: 0;
    padding: 0;
    li {
        flex:none;
        display: inline-block;

        input {
            display: none;
        }

        //active tab
        input[type="radio"]:checked + label {
            //background-color: #333333;
            background-color: var(--background-color);
            border: 1px solid;
            border-bottom:none;
            border-color: $BorderColor;
            color:#ffffdf;
            //border-top: 3px solid #000;

            & > .close_icon {
                // color: rgba($color:#000,$alpha:0.2);

            }
            &:hover > .close_icon {
                // color: rgba($color:#000,$alpha:0.5);
            }
        }

    }
}
.treeViteItem-bottom-bar {
    height: 10px;
    border-top: 1px solid;
    border-color: $BorderColor;
}
.tab{
    height: $tabHeight;
    line-height: $tabHeight;
    padding:0px 20px;
    //margin:0px 2px;
    background:#191919;
    display:inline-block;
    color:#b2d6d6;
    border-radius:10px 10px 0px 0px;
    // box-shadow: 0 0.5rem 0.8rem #00000080;
    position: relative;

    span.close_icon {
        position: absolute;
        cursor: pointer;
        top:0;
        right: 5px;
        color:rgba($color: #ccc, $alpha: 0.1);
    }
    &:hover span.close_icon {
        color:rgba($color: #ccc, $alpha: 0.8);
    }
}
