@import './variable';

.tabBar-ul {
    height: 45px;
    display: flex;
    // transform: translateX(-200px);
    margin: 0;
    padding: 0;
    li {
        flex:none;
        display: inline-block;

        input {
            display: none;
        }

        input[type="radio"]:checked + label {
            background:#fffffff6;
            color:#000;
            border-top: 3px solid #000;

            & > .close_icon {
                color: rgba($color:#000,$alpha:0.2);

            }
            &:hover > .close_icon {
                color: rgba($color:#000,$alpha:0.5);
            }
        }

    }
}
.tab{
    cursor: pointer;
    padding:10px 20px;
    margin:0px 2px;
    background:#000;
    display:inline-block;
    color:#fff;
    border-radius:3px 3px 0px 0px;
    box-shadow: 0 0.5rem 0.8rem #00000080;
    position: relative;

    span.close_icon {
        position: absolute;
        top:0;
        right: 5px;
        color:rgba($color: #ccc, $alpha: 0.1);
    }
    &:hover span.close_icon {
        color:rgba($color: #ccc, $alpha: 0.8);
    }
}
